# Development docker-compose file.
# To use: mv docker-compose.override.yml.sample docker-compose.override.yml
version: '3.7'

services:
  db:
    image: 'mysql:8.0.22'
    restart: always
    volumes:
      - 'db:/var/lib/mysql'
    env_file:
      - '.env'
    environment:
      - MYSQL_DATABASE=esr_api_development

  db_test:
    image: 'mysql:8.0.22'
    restart: always
    volumes:
      - 'db_test:/var/lib/mysql'
    env_file:
      - '.env'
    environment:
      - MYSQL_DATABASE=esr_api_test

  rails:
    depends_on:
      - db
      - db_test
      - redis
      - sidekiq
      - webpacker
    build: .
    command: ./script/start_rails_development.sh
    ports:
      - '3000:3000'
    volumes:
      - '.:/app'
      # We cache the bundle so that we don't re-download every gem on any change to the Gemfile.
      - bundle_cache:/bundle
    environment:
      - BUNDLE_PATH=/bundle/vendor
      - WEBPACKER_DEV_SERVER_HOST=webpacker
      - NODE_ENV=development
      - RAILS_ENV=development
      - RAILS_MAX_THREADS=1 # 1 is good for debugging.
      - WEB_CONCURRENCY=1 # 1 is good for debugging.
    env_file:
      - '.env'

  bundle_cache:
    # BusyBox combines tiny versions of many common UNIX utilities into a single small executable.
    image: busybox:1.32.0
    volumes:
      - '.:/bundle_cache'

  sidekiq:
    depends_on:
      - 'db'
      - 'redis'
    build: .
    command: ./script/start_sidekiq.sh
    volumes:
      - '.:/app'
      - bundle_cache:/bundle
    environment:
      - BUNDLE_PATH=/bundle/vendor
      - NODE_ENV=development
      - RAILS_ENV=development
    env_file:
      - '.env'

  webpacker:
    build: .
    command: ./script/start_webpacker.sh
    ports:
      - '3035:3035'
    volumes:
      - '.:/app'
      - bundle_cache:/bundle
    environment:
      - BUNDLE_PATH=/bundle/vendor
      - WEBPACKER_DEV_SERVER_HOST=0.0.0.0
      - NODE_ENV=development
      - RAILS_ENV=development
    env_file:
      - '.env'

  test_ftp:
    image: stilliard/pure-ftpd:latest
    container_name: pure-ftpd
    ports:
      - '21:21'
      - '30000-30009:30000-30009'
    volumes:
      - ./spec/fixtures/files:/files
    environment:
      PUBLICHOST: test_ftp
      FTP_USER_NAME: user
      FTP_USER_PASS: password
      FTP_USER_HOME: /files
    restart: always

volumes:
  bundle_cache:
  redis:
  db:
  db_test:
