<% if alert.present? %>
  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-warning-callout">
      <h3 class="nhsuk-warning-callout__label">
        <%= I18n.t('navigation.flash.alert') %>
      </h3>
      <p><%= alert %></p>
    </div>
  </div>
<% end %>

<% if notice.present? %>
  <div class='nhsuk-inset-text flash flash-notice'>
    <span class='nhsuk-u-visually-hidden'><%= I18n.t('navigation.flash.notice') %>: </span>
    <p><%= notice %></p>
  </div>
<% end %>
