<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <ol class="nhsuk-list">
      <% tokens.each do |token| %>
        <li>
          <div class="nhsuk-list-panel">
            <h2 class="nhsuk-list-panel__label" id="<%= group %>"><%= token.name %></h2>
            <ul class="nhsuk-list-panel__list nhsuk-list-panel__list--with-label">
              <li class="nhsuk-list-panel__item">
                <a class="nhsuk-list-panel__link" href="<%= route[:path] %>"><%= token.created_by.name %></a>
              </li>
            </ul>
          </div>
        </li>
      <% end %>
    </ol>
  </div>
</div>
