<div class='nhsuk-grid-row'>
  <div class='nhsuk-grid-column-two-thirds'>
    <p>
      <%= I18n.t('navigation.homepage.service_functions') %>
    </p>
    <ul>
      <li>
        <%= I18n.t('navigation.homepage.view_data') %>
      </li>
      <li>
        <%= I18n.t('navigation.homepage.grant_api_access') %>
      </li>
    </ul>

    <%= button_to I18n.t('navigation.log_in_title'), new_user_session_path, method: :post, class:'nhsuk-button nhsuk-u-margin-bottom-8' %>
  </div>
</div>
