<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <p>
      You can use this service to:
    </p>
    <ul>
      <li>
        Access your trust's ESR data via the administrator dashboard.
      </li>
      <li>
        Grant access to ESR data to other services within your trust via the API.
      </li>
    </ul>
    <%= button_to 'Log in', root_url + 'auth/auth0', method: :post, class:'nhsuk-button nhsuk-u-margin-bottom-8' %>
  </div>
</div>
