@import 'node_modules/nhsuk-frontend/packages/nhsuk';
@import 'node_modules/select2/dist/css/select2.css';

// Table Search
.esr-api__table-search {
  float: right;
}

.esr-api__table-search-form {
  padding: 16px;
}

.esr-api__table-search-input {
  border-color: $nhsuk-border-color;
}
