@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Table Search
.esr-api__table-search {
  float: right;
}

.esr-api__table-search-form {
  padding: 16px;
}

.esr-api__table-search-input {
  border-color: $nhsuk-border-color;
}

.nhsuk-panel {
  margin-top: 16px;
  margin-bottom: 16px;
}

.nhsuk-button {
  margin-bottom: 16px;
}

// Nested has_many fields, used for Permissions on new Token form.
.nested-fields {
  padding: 16px;
}

.select2-container--default .select2-selection--multiple {
  border: 2px solid #4c6272;
  border-radius: 0px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  @extend .nhsuk-select:focus;
  border-radius: 0px;
}
