@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Table Search
.esr-api__table-search {
  float: right;
}

.esr-api__table-search-form {
  padding: 16px;
}

.esr-api__table-search-input {
  border-color: $nhsuk-border-color;
}

// Nested has_many fields, used for Permissions on new Token form.
.nested-fields {
  padding: 16px;
}
