<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <ol class="nhsuk-list">
      <% grouped_routes.each do |group, routes| %>
        <li>
          <div class="nhsuk-list-panel">
            <h2 class="nhsuk-list-panel__label" id="<%= group %>"><%= group %></h2>
            <ul class="nhsuk-list-panel__list nhsuk-list-panel__list--with-label">
              <% routes.each do |route| %>
                <li class="nhsuk-list-panel__item">
                  <a class="nhsuk-list-panel__link" href="<%= route[:path] %>"><%= route[:name] %></a>
                </li>
              <% end %>
            </ul>
            <div class="nhsuk-back-to-top">
              <a class="nhsuk-back-to-top__link" href="#maincontent">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                </svg>
                Back to top
              </a>
            </div>
          </div>
        </li>
      <% end %>
    </ol>
  </div>
</div>
